
body {
    background-color: gainsboro;
    color: black;
    font-size: 12px;
    text-align: left;
    font-weight: 200;
    font-family: "Open Sans","MS Gothic", Geneva, Tahoma, sans-serif;
}

p {
    background-color: rgb(100, 122, 3);
    color: white;
}

h2 {
    background-color: orange;
    font-size: 18px;
}